@media screen and (max-width: 480px) {
    .grid{
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "section"
            "main"
            "nav"
            "footer";
    }
}