@media screen and (min-width:480px) and (max-width:900px) {
    div.main {
        width: 740px;
        height: 428px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    div p{
        width: 348px;
    }
















}