@media screen and (max-width: 480px) {
    *{
        margin: 0;
    }
    .grid{
        gap: 6vh;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas:
     "header header header"
     "section section section"
     "main nav address"
     "aside aside aside";
    }
    header{
        border-radius: 15px;
    }
    section{
        border-radius: 15px;
    }
    main{
        border-radius:8px;
    }
    nav{
        border-radius:8px;
    }
    address{
        border-radius:8px;
    }
    aside{
        border-radius: 15px;
    }
}