@media screen and (max-width: 480px) {
    .grid{
        gap: 3vh;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "main"
        "aside"
    ;
    }
    header{
        border: 1px solid #c9ccc3;
        border-radius: 8px;
    }
main{
    border: 1px solid #c9ccc3;
    border-radius: 8px;
}
aside{
    border: 1px solid #c9ccc3;
    border-radius: 8px;
}
}